@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glabal layout style! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    overflow-x: hidden; /* Yonalishli scrollni yo'qotadi */
  }
  
